.grid.main-content
	{% header "about_featured_title_#{block}" label="Intro Text: Place Intro Header", header_tag="h3", value="About Featured Header" %}
	
	.explainer	
		%p
			{% text "my_text_#{block}" label="Intro Text: Place additional text here", value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit velit sed eros laoreet varius. Aenean vel accumsan ligula. Vestibulum pharetra orci eget tortor consequat varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit velit sed eros laoreet varius. Aenean vel accumsan ligula. Vestibulum pharetra orci eget tortor consequat varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit velit sed eros laoreet varius. Aenean vel accumsan ligula. Vestibulum pharetra orci eget tortor consequat varius." %}