= Haml::Engine.new(File.read(File.dirname(File.expand_path("..",__FILE__))+"/Config/config.haml")).render(Object.new, :relative => File.expand_path("../..",__FILE__))
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	-# This Tells HubSpot To Include The Site Head
	{% include "custom/page/Deli_Framework/Site_Head.html" %}

	%body.subpage.fullWidth
		
		-# This Tells HubSpot To Include The Site Header
		{% include "custom/page/Deli_Framework/Site_Header.html" %}

		
		= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Wraps/_subpage_hero.haml")).render(Object.new, :block => "one")

		.page-container
			.grid
				.grid__item		
					{% rich_text "Page Content" label="Page Content", no_wrapper=True, html="<h4>An Example of a H2</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit velit sed eros laoreet varius. Aenean vel accumsan ligula. Vestibulum pharetra orci eget tortor consequat varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit velit sed eros laoreet varius. Aenean vel accumsan ligula. Vestibulum pharetra orci eget tortor consequat varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit velit sed eros laoreet varius. Aenean vel accumsan ligula. Vestibulum pharetra orci eget tortor consequat varius.</p>" %}

	
	-# This Tells HubSpot To Include The Site Footer
	{% include "custom/page/Deli_Framework/Site_Footer.html" %}

/
	[hubspot-metadata]
	{
	"category": "page", 
	"creatable": true,
	"path": "custom/page/Deli_Framework/Default_Full_Width_Page"
	}
	[end-hubspot-metadata]