.ta-block.whitespace.hard.grid__item.one-third.lap-one-whole.palm-one-whole>
	.ta-icon.grid__item.one-whole.lap-one-third.soft--sides>
		%center
			Hello
	.ta-copy.grid__item.one-whole.lap-two-thirds.soft--sides>
		Hello
		
		.ta-button.grid__item.one-whole.soft--sides>
			Hello