.hs_cos_wrapper_type_menu{
	ul{
		margin-left:0px!important;
		margin-bottom:0px!important;

		li.hs-menu-depth-1{
			list-style-type:none;
			display:inline-block;
			position:relative;
			line-height: $p-size * 2;
			padding-left:15px;

			&:nth-child(1){
				padding-left:0px!important;
			}

			a{
				display: block;
				font-size: $p-size;
				font-weight:normal!important;
				color:$brand-black;
				padding:10px 0px;
			}

			a:hover{
				color:$brand-light-grey;
			}

			ul{
				position:absolute;
				background:#fff;
				top:-9999px;
				opacity: 0;
				-webkit-transition: opacity .4s ease-in-out;
				-moz-transition: opacity .4s ease-in-out;
				-o-transition: opacity .4s ease-in-out;
				transition: opacity .4s ease-in-out;
				width:275px;
				border:solid 1px #dddddd;

				li{
					@extend .text--left;
					display:block;
					width:100%;
					text-transform: none;
					
					a{
						width:100%;
						display:block;
						padding:10px 15px;
						height:auto;
						line-height:25px!important;
						margin-top:0px;
					}

					a:hover{
						color:#636364;
					}
				}
			}
		}

		li:hover > ul{
			top:$p-size * 3.0;
			position:absolute;
			opacity:1;
		}
	}

	ul > li > ul > li{ 
		position:relative;
	}	

	li > ul > li > ul{
		position:absolute;
		top:-9999px;
		opacity: 0;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition: opacity .4s ease-in-out;
		-o-transition: opacity .4s ease-in-out;
		transition: opacity .4s ease-in-out;
		width:275px;
		border:solid 1px #dddddd;
	}

	li > ul > li:hover > ul{
		top:-1px;
		position:absolute;
		opacity:1;
		width: 300px;
		left: 100%;
	}
}