- $relative = "#{relative}"

:ruby 
	# \\\\\\\\\\\\\\\\\\\\\\\ #

	# Define site domain
	$domain = "http://impactbnd.com"
	
	# \\\\\\\\\\\\\\\\\\\\\\\ #

	# Define HubSpot Hub ID
	$hubid = "298890"

	# \\\\\\\\\\\\\\\\\\\\\\\ #
	$pathName = $relative
	require $pathName+"/Config/functions"