#modal-test1.modal
	this is a big ol test

#modal-test2.modal
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

#modal-test3.modal
	we're going for a ride on the information super highway. alrighty then your entrance was good, his was better. excuse me, i'd like to ass you a few questions. hey, maybe i will give you a call sometime. your number still 911? kinda hot in these rhinos. look ma i'm road kill it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. here she comes to wreck the day. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter.

#modal-test4.modal
	this is a big ol test

#modal-test5.modal
	this is a big ol test
